.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

.boton-responsive {
    width: 100%; /* Ancho completo en pantallas pequeñas */
    font-size: 1.5em;
  
    @media (min-width: 768px) {
      /* Aplicar estilos adicionales para pantallas más grandes */
      width: 50%;
    }
  }